<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Dating App</a>
    
    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1">Messages</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{ getDecodedUserName() | titlecase }}
      </a>
    
      <ul class="dropdown-menu mt-3" *dropdownMenu>
        <li><a class="dropdown-item" href="#"><i class="fa fa-user mr-2"></i>Edit Profile</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out mr-2"></i>Logout</a></li>
      </ul>
    </div>

    <form *ngIf="!loggedIn()" #LoginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" 
      name="username" required [(ngModel)]="model.username">
      <input class="form-control mr-sm-2" type="password" placeholder="Password" 
      name="password" required [(ngModel)]="model.password"> 
      <button [disabled]="!LoginForm.valid" class="btn btn-success" type="submit">Login</button>
    </form>
  </div>
    
</nav>